body {}

.app-content {
    margin-top: 64px;
}


/*search*/

.main-search {
    background: url(../../../assets/images/homepage.png);
    padding: 290px 0 380px 0!important;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.main-search::before {
    position: absolute;
    background: hsla(200, 18%, 26%, 0.24);
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.content-search {
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    z-index: 2;
}

.fast-search {
    position: relative;
}

.main-search .result,
.custom-header .result {
    transition: all .3s ease-in-out;
    top: 44px;
    position: absolute;
    text-align: left;
    left: 0px;
    display: none;
    background: #fff;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2)!important;
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2)!important;
}

.main-search .result.active,
.custom-header .result.active {
    transition: all .3s ease-in-out;
    display: block;
    z-index: 1;
}

.main-search .result ul,
.custom-header .result ul {
    list-style: none;
    padding: 0;
}

.main-search .result li,
.custom-header .result li {
    padding: 5px 16px;
}

.main-search .result li:hover,
.custom-header .result li:hover {
    background: #eee;
    cursor: pointer;
}

.main-search .result li a,
.custom-header .result li a {
    color: var(--gray-dark);
    display: block;
    border-bottom: 1px solid #eee;
}

.main-search .result li a p,
.custom-header .result li a p {
    margin: 0;
    font-size: 13px;
}


/*home category*/

.home-category {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.home-category-title {
    margin-bottom: 54px;
}

.home-category-title .content-header-title span,
.title-line-before {
    position: relative;
}

.home-category-title .content-header-title span:before,
.title-line-before:before {
    content: "";
    position: absolute;
    bottom: -8px;
    background-image: linear-gradient(-225deg, #2CD8D5 0%, #6B8DD6 48%, #8E37D7 100%);
    width: 100%;
    height: 2px;
}

.transform {
    transform: translateY(-128px);
    background: #fff;
    padding: 32px;
    border-radius: 16px 16px 0 0;
}

.parent-transform {
    margin-bottom: -128px;
}

.home-category .item {
    margin-bottom: 8px;
}

.home-category .item a {
    font-weight: 600;
    color: var(--gray-dark);
    padding: 8px 16px;
    border-radius: 18px;
    transition: all .3s ease;
    display: inline-block;
}

.home-category .item a:hover {
    color: #222;
    background: #eee;
    cursor: pointer;
}

.home-category-title .action {
    background: #eee;
    padding: 4px 8px;
    border-radius: 16px;
}

.home-category-title .action:hover {
    cursor: pointer;
    background: #222;
    color: #fff;
}


/*most view*/

.list-product .item:hover h3.card-title {
    color: #3899EC;
}

.list-product:hover {
    cursor: pointer;
}

.list-product .item {
    text-align: center;
    position: relative;
    overflow: hidden;
    transition: all .3s ease-in-out;
    box-shadow: none;
    margin-top: 64px;
}

.list-product .item .show {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.list-product .item .show i {
    color: #fff;
    background: #3899EC;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding: 8px;
    transition: all .3s ease-in-out;
}

.list-product .item .show h6 {
    color: #3899EC;
}

.list-product .item:hover .show i {
    background: var(--gray-dark);
}


/*header*/

.custom-header {
    transition: all .4s;
    background-image: linear-gradient(-225deg, #2CD8D5 0%, #6B8DD6 48%, #8E37D7 100%);
}

.custom-header.trans {
    transition: all .4s;
    background: transparent!important;
}

.custom-header a {
    font-weight: 800;
}

.custom-header .main {
    min-height: unset;
}

.custom-header .main .item {
    display: flex;
    align-items: center;
}

.custom-header .main .item .logo {
    display: flex;
    align-items: center;
}

.custom-header .main .item .logo img {
    margin-right: 16px;
}

.custom-header .main .item .logo h3 {
    margin-bottom: 0;
}

.custom-header .main .item .fast-search {
    width: 100%;
}

.custom-header .main .item .fast-search .form-control {
    background: rgba(11, 65, 130, 0.52);
    transition: all .3s;
    box-shadow: none;
}

.custom-header .main .item .fast-search .form-control:focus {
    background: #fff;
}

.custom-header .main .item .content-search {
    box-shadow: none;
}

.custom-header .about {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.custom-header .item a,
.custom-header .about a {
    transition: all .3s;
}

.custom-header .about a {
    margin-left: 18px;
}

.custom-header .item a:hover h3,
.custom-header .item a:hover,
.custom-header .about a:hover {
    background: #fff;
    border-radius: 16px;
    color: #333!important;
    font-weight: 800;
    transition: all .3s;
}


/*ads*/

.main-quangcao {
    position: relative;
    background: #fff;
    background-size: cover!important;
    background-repeat: no-repeat;
    background-position: center;
    padding: 100px 0!important;
}

.main-quangcao .form-contact {
    display: flex;
    position: relative;
}

.main-quangcao .form-contact .form-control {
    border: 0 solid;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    background: #eee;
}

.main-quangcao .form-contact i {
    background-color: #3899EC;
    color: #fff;
    padding: 8px 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    font-size: 22px;
    position: absolute;
    right: -32px;
    bottom: 0;
    transition: all .3s ease-in-out;
}

.title-form-contact {
    display: flex;
    color: #3899EC;
    align-items: center;
    justify-content: flex-start;
}

.title-form-contact .title {
    margin-left: 32px;
    font-size: 26px;
}

.title-form-contact .icon-chart {
    font-size: 60px;
}


/*back-top-top*/

.back-to-top {
    background: #3899EC;
    color: #fff;
    padding: 10px;
    border-radius: 100px;
    position: fixed;
    top: calc(100% - 100px);
    right: 10px;
}

.back-to-top:hover,
.back-to-top:focus {
    background: var(--gray-dark);
    cursor: pointer;
}


/*footer*/

.footer {
    background: #09070D;
    padding: 50px 0 0px;
}

.list-custom {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    align-items: center;
}

.list-custom li {
    font-size: 16px;
}

.list-custom li a {
    color: var(--light);
    position: relative;
}

.list-custom li a:hover {
    color: #999;
}

.footer .one:after {
    content: "";
    display: block;
    height: 1px;
    background: #444;
    width: 100%;
}

.list-social {
    justify-content: flex-end;
}

.list-social li {
    margin-left: 16px;
}

.list-social a>i {
    font-size: 22px;
    background: #fff;
    border-radius: 16px;
    padding: 5px;
    color: #222;
}


/*modal*/

.custom-modal .modal-header {
    background-image: linear-gradient(-225deg, #2CD8D5 0%, #6B8DD6 48%, #8E37D7 100%);
}

.custom-modal .modal-header .modal-title {
    color: #fff;
}

.custom-modal .modal-content {
    border: 0px solid;
    -webkit-box-shadow: 0px 0px 14px 0px rgba(22, 45, 60, 0.3);
    box-shadow: 0px 0px 14px 0px rgba(22, 45, 60, 0.3);
    border-radius: 8px;
    background-color: white;
}

.custom-modal .modal-content .modal-header {
    padding: 1rem 2rem;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.custom-modal .modal-header {
    display: flex;
    align-items: center;
}

.custom-modal .modal-content .modal-header .close {
    border: none;
    background-color: rgba(22, 45, 61, 0.2);
    cursor: pointer;
    color: #fff;
    padding: 0;
    height: 25px;
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.custom-modal .modal-content .modal-body {
    padding: 2rem 2rem 0 2rem;
}

.custom-modal .modal-content .modal-footer {
    border: none;
    padding: 2rem;
}

.custom-modal .modal-footer .btn {
    border-radius: 15px;
    padding: 4px 17px;
    border: 1px solid #3899EC;
}

.custom-modal .modal-footer .btn:hover,
.custom-modal .modal-footer .btn:focus {
    background: #4eb7f5;
    border: 1px solid #4eb7f5;
}


/*list all category*/

#all-list-category .modal-body .item {
    padding: 0;
    border: 1px solid #eee;
    display: flex;
    align-items: center;
    justify-content: center;
}

#all-list-category .modal-body .item a {
    padding: 8px;
    text-align: center;
    display: block;
    color: var(--gray-dark);
}


/*check box*/

input[type='checkbox'].checkbox {
    height: 0;
    width: 0;
    display: flex;
}

input[type='checkbox'].checkbox+label {
    position: relative;
    display: flex;
    align-items: center;
    color: var(--gray-dark);
    transition: color 250ms cubic-bezier(.4, .0, .23, 1);
}

input[type='checkbox'].checkbox+label>span {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1em;
    width: 20px;
    height: 20px;
    background: transparent;
    border: 1px solid var(--gray-dark);
    cursor: pointer;
    transition: all 250ms cubic-bezier(.4, .0, .23, 1);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

input[type='checkbox'].checkbox+label:hover,
input[type='checkbox']:focus+label {
    color: #333;
    cursor: pointer;
}

input[type='checkbox'].checkbox:checked+label>span:before {
    content: "\e926";
    font-family: feather!important;
    color: var(--gray-dark);
    font-weight: 700;
    font-size: 18px;
}


/*side-left-category*/

#side-left-category .list-group-item {
    padding-top: 12px;
    padding-bottom: 12px;
}

#side-left-category .list-group-item label {
    margin-bottom: 0px;
}

#side-left-category .list-group-item {
    position: relative;
    display: block;
    padding: 0.5rem 1.25rem 0.5rem 3rem;
    background-color: #fff;
    border: 0px;
    margin-bottom: -8px;
}

#side-left-category .list-group-item a {
    color: var(--gray);
}

.title-list {
    position: relative;
    padding: 0 1.25rem;
    margin-top: 16px;
    display: flex;
    align-items: center;
}

.title-list:before {
    margin-right: 8px;
    content: "\e90f";
    font-family: feather!important;
}

#custom-scroll-bar::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
    border-radius: 4px;
}

#custom-scroll-bar::-webkit-scrollbar {
    width: 4px;
    background-color: #F5F5F5;
    border-radius: 4px;
}

#custom-scroll-bar::-webkit-scrollbar-thumb {
    background-color: #999;
    border-radius: 4px;
}


/*custom-search-page*/

.custom-search-page .content-header {
    background: #3899EC;
    padding-bottom: 64px;
    padding-top: 32px;
}

.custom-search-page .list-sort {
    display: flex;
}

.custom-search-page .list-sort select {
    border-radius: 0!important;
    outline: none;
}

input.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 4px;
    border-radius: 5px;
    background: #fff;
    outline: none;
    opacity: 1;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

input.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: var(--yellow);
    cursor: pointer;
}

input.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: var(--yellow);
    cursor: pointer;
}

.list-product-search .item {
    transition: all 250ms;
    padding-top: 32px;
    padding-bottom: 32px;
}

.list-product-search .item:hover {
    background: #fafafa;
    border-radius: 4px;
    cursor: pointer;
}

.list-product-search .item .shop,
.product-detail .shop {
    margin-top: 64px;
}

.list-product-search .item .shop img,
.product-detail .shop img,
.product-detail .shop p,
.list-product-search .item .shop p {
    display: inline-block!important;
    vertical-align: middle;
    margin: 0;
}

.list-product-search .item .shop img,
.product-detail .shop img {
    margin-right: 16px;
}

.list-product-search .item .shop p a,
.product-detail .shop p a {
    color: #fff;
}

.hover:hover {
    cursor: pointer;
    background: var(--gray-dark);
    color: #fff;
}


/* pagination */

.loading {
    display: none;
}

.loading.active {
    background: #263238c7;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loading>i {
    color: #fff;
    font-size: 80px!important;
}

.disable-box-shadow {
    box-shadow: none!important;
}

.custom-pagination {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

.custom-pagination li.active a {
    background: #0c84d1;
    padding: 0.6rem 1rem;
    border-radius: 100%;
    color: #fff;
}


/* product */

.product-price {
    margin-top: 32px!important;
}

.margin-top-64 {
    margin-top: 64px!important;
}

.margin-top-32 {
    margin-top: 32px!important;
}

.margin-top-16 {
    margin-top: 16px!important;
}

.margin-bottom-64 {
    margin-bottom: 64px!important;
}

.margin-bottom-32 {
    margin-bottom: 32px!important;
}

.margin-bottom-16 {
    margin-bottom: 16px!important;
}


/* product detail */

.product-detail .item {
    margin-bottom: 64px;
}


/* content placeholder */

@-webkit-keyframes placeHolderShimmer {
    0% {
        background-position: -468px 0
    }
    100% {
        background-position: 468px 0
    }
}

@keyframes placeHolderShimmer {
    0% {
        background-position: -468px 0
    }
    100% {
        background-position: 468px 0
    }
}

.timeline-wrapper {
    width: 100%;
}

.timeline-item {
    background: #fff;
    border: 1px solid #fff;
    border-radius: 3px;
    padding: 12px;
    margin: 0 auto;
    max-width: 472px;
    min-height: 200px;
}

.animated-background {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: placeHolderShimmer;
    animation-name: placeHolderShimmer;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    background: #f6f7f8;
    background: #eeeeee;
    background: -webkit-gradient(linear, left top, right top, color-stop(8%, #eeeeee), color-stop(18%, #dddddd), color-stop(33%, #eeeeee));
    background: -webkit-linear-gradient(left, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
    background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
    -webkit-background-size: 800px 104px;
    background-size: 800px 104px;
    height: 96px;
    position: relative;
}

.background-masker {
    background: #fff;
    position: absolute;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.outlined .background-masker {
    border: 1px solid #ddd;
}

.outlined:hover .background-masker {
    border: none;
}

.outlined:hover .background-masker:hover {
    border: 1px solid #ccc;
    z-index: 1;
}

.background-masker.header-top,
.background-masker.header-bottom,
.background-masker.subheader-bottom {
    top: 0;
    left: 40px;
    right: 0;
    height: 10px;
}

.background-masker.header-left,
.background-masker.subheader-left,
.background-masker.header-right,
.background-masker.subheader-right {
    top: 10px;
    left: 40px;
    height: 8px;
    width: 10px;
}

.background-masker.header-bottom {
    top: 18px;
    height: 6px;
}

.background-masker.subheader-left,
.background-masker.subheader-right {
    top: 24px;
    height: 6px;
}

.background-masker.header-right,
.background-masker.subheader-right {
    width: auto;
    left: 300px;
    right: 0;
}

.background-masker.subheader-right {
    left: 230px;
}

.background-masker.subheader-bottom {
    top: 30px;
    height: 10px;
}

.background-masker.content-top,
.background-masker.content-second-line,
.background-masker.content-third-line,
.background-masker.content-second-end,
.background-masker.content-third-end,
.background-masker.content-first-end {
    top: 40px;
    left: 0;
    right: 0;
    height: 6px;
}

.background-masker.content-top {
    height: 20px;
}

.background-masker.content-first-end,
.background-masker.content-second-end,
.background-masker.content-third-end {
    width: auto;
    left: 380px;
    right: 0;
    top: 60px;
    height: 8px;
}

.background-masker.content-second-line {
    top: 68px;
}

.background-masker.content-second-end {
    left: 420px;
    top: 74px;
}

.background-masker.content-third-line {
    top: 82px;
}

.background-masker.content-third-end {
    left: 300px;
    top: 88px;
}


/* group product */

.show-more-height {
    transition: all .3s;
    height: 105px;
    overflow: hidden;
}

.btn-show-more {
    text-align: center;
}

.show-more {
    transition: all .3s;
    color: #777;
    position: relative;
    font-size: 12px;
    padding: 8px;
    background: #f1f1f1;
    cursor: pointer;
    display: inline-block;
    border-radius: 4px;
    margin-top: 16px;
}

.show-more:hover {
    background: #e2e2e2;
}


/* loading  */

.loading-redirect-page {
    margin-top: 64px;
}

.loading-redirect-page .counter {
    text-align: center;
}

.loading-redirect-page .counter p {
    font-size: 40px;
    font-weight: 100;
    color: #f60d54;
}

.loading-redirect-page .counter h1 {
    color: #026FCE;
    font-size: 60px;
    margin-top: -10px;
}

.loading-redirect-page .counter hr {
    background: #f60d54;
    border: none;
    height: 1px;
}

.loading-redirect-page .counter {
    position: relative;
}

.loading-redirect-page .counter h1.abs {
    position: absolute;
    top: 0;
    width: 100%;
}

.loading-redirect-page .counter .color {
    width: 0px;
    overflow: hidden;
    color: #f60d54;
}


/* button history */

.btn-history {
    background: #28D094;
    color: #fff;
    padding: 10px;
    border-radius: 100px;
    position: fixed;
    z-index: 2000;
    top: calc(100% - 50px);
    right: 10px;
    transition: all .3s;
}

.btn-history:hover {
    cursor: pointer;
    background: #222;
    color: #fff;
}


/* recommend */

.recommend .item {
    transition: all .3s;
    padding-top: 16px;
    padding-bottom: 16px;
    border-radius: 8px;
}

.recommend .item:hover {
    background: #fafafa;
}

.recommend .item .info {
    margin-top: 32px;
    text-align: center;
}

.recommend .item .info h5 {
    color: #222;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 0 16px;
}